<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web para la asignatura IV.">
    <meta name="author" content="Juan Anaya Ortiz">

    <title>Inicio - Bot Telegram</title>

  </head>

  <body>

    <p> Web para mostrar el contenido del Bot de Telegram para la asignatura de Infraestructuras Virtuales.
    </p>
    <br>
    
  </body>
</html>
